# AIS Data Exploration

## Data download

In [5]:
from pathlib import Path

import httpx

In [9]:
# Download the file
url = "https://marinecadastre.gov/downloads/ais2024/ais-2024-01-01.parquet"
output_path = Path("../../data/raw/ais/ais-2024-01-01.parquet")
output_path.parent.mkdir(parents=True, exist_ok=True)

In [10]:
with httpx.stream("GET", url, follow_redirects=True) as response:
    response.raise_for_status()
    with open(output_path, "wb") as f:
        for chunk in response.iter_bytes(chunk_size=8192):
            f.write(chunk)

print(f"Downloaded: {output_path} ({output_path.stat().st_size / 1e6:.1f} MB)")

Downloaded: ../../data/raw/ais/ais-2024-01-01.parquet (227.2 MB)

## Data Exploration

In [11]:
import geopandas as gpd

df = gpd.read_parquet(output_path)
df.head(20)

In [25]:
print(f"Df Shape: {df.shape}")
print("x" * 100)
print(f" Data types: {df.dtypes}")
print("x" * 100)
print(f" Df Description: {df.describe()}")
print("x" * 100)
print(f" Null values: {df.isnull().sum()}")
print("x" * 100)
print(f" Columns: {df.columns.tolist()}")

Df Shape: (7293408, 16)
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 Data types: mmsi                     int32[pyarrow]
base_date_time    timestamp[s][pyarrow]
sog                      float[pyarrow]
cog                      float[pyarrow]
heading                  int32[pyarrow]
vessel_name                      string
imo                              string
call_sign                        string
vessel_type              int32[pyarrow]
status                   int32[pyarrow]
length                   float[pyarrow]
width                    int32[pyarrow]
draft                    float[pyarrow]
cargo                    int32[pyarrow]
transceiver                      string
geometry                       geometry
dtype: object
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 Df Description:                    mmsi       base_date_time        sog         cog  \
count         7293408.0              7293408  7276775.0   6083090.0
mean   367987504.587383  2024-01-01 12:05:49   1.779897  190.265684
min         103669999.0  2024-01-01 00:00:00        0.0         0.0
25%         366826940.0  2024-01-01 06:03:52        0.0  101.699997
50%         367458640.0  2024-01-01 12:11:49        0.0  207.600006
75%         368070420.0  2024-01-01 18:08:27        0.3  275.799988
max         999999999.0  2024-01-01 23:59:59  97.199997  359.899994
std      56119618.58208                  NaN   3.976771  105.035052

          heading  vessel_type     status     length      width      draft  \
count   3467633.0    7255303.0  4849705.0  7152775.0  7077032.0  4234610.0
mean   186.805183    46.223197   3.319579  64.079894  12.990367   4.467328
min           0.0          1.0        0.0        1.0        1.0        0.1
25%          93.0         31.0        0.0       17.0        6.0        2.8
50%         192.0         37.0        0.0       26.0        9.0        3.1
75%         278.0         53.0        5.0       73.0       16.0        5.5
max         359.0        255.0       14.0      489.0       61.0  23.200001
std    106.424056    16.848821   4.622021  80.283666  10.562221   2.885564

           cargo
count  5067320.0
mean   54.278644
min          1.0
25%         37.0
50%         52.0
75%         60.0
max        255.0
std    18.251861
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 Null values: mmsi                    0
base_date_time          0
sog                 16633
cog               1210318
heading           3825775
vessel_name             0
imo                     0
call_sign               0
vessel_type         38105
status            2443703
length             140633
width              216376
draft             3058798
cargo             2226088
transceiver             0
geometry                0
dtype: int64
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 Columns: ['mmsi', 'base_date_time', 'sog', 'cog', 'heading', 'vessel_name', 'imo', 'call_sign', 'vessel_type', 'status', 'length', 'width', 'draft', 'cargo', 'transceiver', 'geometry']

In [28]:
df.vessel_type.value_counts()

vessel_type
31     1441365
37     1387385
52     1209413
30      545293
36      465413
        ...
94         387
255        164
78          17
19           5
16           5
Name: count, Length: 72, dtype: int64[pyarrow]

In [29]:
# Check for empty strings in vessel_name
print(df["vessel_name"].value_counts().head(10))
print(df["imo"].value_counts().head(10))
print(df["transceiver"].value_counts().head(10))

vessel_name
FREEDOM         13936
LIBERTY          8746
                 6942
INDEPENDENCE     6275
MAVERICK         5585
AURORA           5247
TEXAS            4712
DAUNTLESS        4702
ENDEAVOR         4650
DESTINY          4363
Name: count, dtype: int64[pyarrow]
imo
              4319862
IMO0000001      16704
IMO0000101       3725
IMO0000004       2757
IMO8851273       2557
IMO0000526       2490
IMO8644383       2483
IMO0000032       2452
IMO8967632       2437
IMO9813644       2432
Name: count, dtype: int64[pyarrow]
transceiver
A    5283787
B    2009621
Name: count, dtype: int64[pyarrow]

In [30]:
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1e9:.2f} GB")

Memory usage: 0.81 GB