# Marine Protected Areas

In [3]:
from pathlib import Path

import geopandas as gpd

In [6]:
INPUT_DIR = Path("../../data/raw/mpa")
INPUT_FILE = INPUT_DIR / "mpa_inventory.parquet"

In [12]:
mpa_df = gpd.read_parquet(INPUT_FILE)
mpa_df.describe()

,OBJECTID,Estab_Yr,IUCN_MPA,WDPA_Cd,AreaKm,AreaMar,MarPercent,AreaNT,Longitude,Latitude,VxCount,SHAPE_Leng,SHAPE_Length,SHAPE_Area
count,843.000000,843.00000,843.0,8.430000e+02,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,843.000000,8.430000e+02,8.430000e+02
mean,490.558719,1857.26809,1.0,1.794001e+08,170.567627,139.355024,53.896797,4.931544,-94.615151,35.567010,2518.709371,0.769572,9.421649e+04,1.758568e-02
std,287.131674,481.91735,0.0,2.591348e+08,1024.533325,994.170245,42.230338,30.431341,20.721137,7.012971,8898.603044,1.982629,2.382408e+05,1.066564e-01
min,2.000000,0.00000,1.0,0.000000e+00,0.000828,0.000000,0.000000,0.000000,-124.882834,0.000000,4.000000,0.003300,3.824611e+02,9.870470e-08
25%,235.500000,1966.00000,1.0,0.000000e+00,0.755693,0.152799,7.500000,0.000000,-120.842088,29.915877,121.500000,0.060351,7.355950e+03,7.399254e-05
50%,493.000000,1983.00000,1.0,3.124260e+05,6.336530,0.958307,57.000000,0.000000,-82.871783,35.695194,409.000000,0.210430,2.631403e+04,6.326915e-04
75%,737.500000,1999.00000,1.0,5.555860e+08,33.279751,14.860173,99.000000,0.000000,-79.914376,41.050193,1554.000000,0.608516,7.453161e+04,3.318587e-03
max,979.000000,2022.00000,1.0,5.555870e+08,15825.700195,15817.460938,100.000000,520.758000,0.000000,48.859277,112856.000000,32.946354,3.827872e+06,1.589673e+00

In [13]:
mpa_df.head()

,OBJECTID,Site_ID,Site_Name,Gov_Level,State,Prot_Lvl,Mgmt_Agen,Mgmt_Plan,Pri_Con_Fo,Cons_Focus,...,AreaMar,MarPercent,AreaNT,Longitude,Latitude,VxCount,SHAPE_Leng,SHAPE_Length,SHAPE_Area,geometry
1,2,NPS10,Cape Hatteras National Seashore,Federal,NC,Uniform Multiple Use,National Park Service,Site-Specific Management Plan,Natural Heritage,Natural Heritage and Cultural Heritage,...,28.920485,23,0.0,-75.617180,35.242412,3797,2.741455,343505.399179,0.012495,"MULTIPOLYGON (((-75.45952 35.58405, -75.45952 ..."
3,4,CT1,Bluff Point State Park/Natural Area Preserve,State,CT,Zoned Multiple Use,Connecticut Department of Environmental Protec...,Site-Specific Management Plan,Natural Heritage,Natural Heritage,...,0.112254,4,0.0,-72.030288,41.323971,547,0.156012,19914.004399,0.000321,"MULTIPOLYGON (((-72.01697 41.33087, -72.01596 ..."
4,5,CT10,Silver Sands State Park/Charles Island Natural...,State,CT,Zoned Multiple Use,Connecticut Department of Environmental Protec...,No Management Plan,Natural Heritage,Natural Heritage,...,0.014841,1,0.0,-73.069498,41.202265,863,0.114932,14112.523056,0.000131,"MULTIPOLYGON (((-73.05324 41.19229, -73.05311 ..."
5,6,CT12,Barn Island Wildlife Management Area,State,CT,Uniform Multiple Use,Connecticut Department of Environmental Protec...,No Management Plan,Natural Heritage,Natural Heritage and Sustainable Production,...,0.102673,3,0.0,-71.865066,41.342756,549,0.195541,24793.739026,0.000422,"MULTIPOLYGON (((-71.8649 41.35546, -71.86422 4..."
6,7,CT14,Charles E. Wheeler Wildlife Mangement Area,State,CT,Uniform Multiple Use,Connecticut Department of Environmental Protec...,No Management Plan,Natural Heritage,Natural Heritage and Sustainable Production,...,0.514653,19,0.0,-73.109296,41.189402,2534,0.510712,66123.714744,0.000295,"MULTIPOLYGON (((-73.10509 41.17504, -73.10518 ..."

In [16]:
mpa_df.columns

Index(['OBJECTID', 'Site_ID', 'Site_Name', 'Gov_Level', 'State', 'Prot_Lvl',
       'Mgmt_Agen', 'Mgmt_Plan', 'Pri_Con_Fo', 'Cons_Focus', 'Fish_Rstr',
       'Prot_Focus', 'Permanence', 'Constancy', 'Estab_Yr', 'Anchor', 'Vessel',
       'IUCN_MPA', 'IUCNcat', 'Category', 'Marine', 'URL', 'WDPA_Cd',
       'ProSeasID', 'Design', 'AreaKm', 'AreaMar', 'MarPercent', 'AreaNT',
       'Longitude', 'Latitude', 'VxCount', 'SHAPE_Leng', 'SHAPE_Length',
       'SHAPE_Area', 'geometry'],
      dtype='str')

In [20]:
mpa_df[mpa_df.Marine == "Marine"].Category.value_counts()

Category
IUCN MPA    290
Name: count, dtype: int64

In [21]:
mpa_df.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [24]:
print(mpa_df["State"].value_counts())

State
FL              215
CA              196
WA               64
NC               44
OR               32
VA               28
NJ               26
NY               25
CT               22
TX               22
GA               20
MA               20
MI               18
MS               18
SC               15
DE               10
ME                9
LA                8
OH                8
RI                6
MD                6
NH                5
MN                4
WI                4
PA                3
IL                2
IN                2
AL                2
AL, MS            1
FL, MS            1
VA, MD            1
OR, WA            1
NC, VA            1
NJ, NY            1
US-MI, CA-ON      1
GA, SC            1
TX, LA            1
Name: count, dtype: int64